<div *ngIf="added" class="d-md-flex justify-content-between">
  <p><span>Tramo {{index+1}}: {{section.name}}</span><span *ngIf="section.company"> | Compañia:
      {{section.company}}</span></p>
  <div class="p-2 bg-warning text-center rounded-circle" style="width: 2.5rem;" (click)="edit()">
    <i class="bi bi-pencil-fill" style="color: white;"></i>
  </div>
</div>
<div *ngIf="!added">
  <form [formGroup]="form" (ngSubmit)="accept()" *ngIf="!loading">
    <div class="input-group mb-2">
      <span class="input-group-text" id="inputGroup-sizing-default" style="width: 30%;" required>Tramo</span>
      <input type="text" class="form-control" formControlName="name">
    </div>
    <p *ngIf="this.form.get('name')?.errors?.['required'] && form.get('name')?.touched"
      class="text-danger fw-semibold ms-2" style="font-size: 12px;">
      Debe ingresar un tramo
    </p>

    <div class="input-group mb-2">
      <span class="input-group-text" id="inputGroup-sizing-default" style="width: 30%;">Salida</span>
      <input type="number" class="form-control" formControlName="departure_day" min="1" max="31"
      oninput="if(this.value > this.max) this.value = 31; if(this.value < this.min) this.value = 1;">
      <span class="input-group-text" id="inputGroup-sizing-default">-</span>
      <input type="number" class="form-control" formControlName="departure_month" min="1" max="12"
      oninput="if(this.value > this.max) this.value = 12; if(this.value < this.min) this.value = 1;">
      <span class="input-group-text" id="inputGroup-sizing-default">-</span>
      <input type="number" class="form-control" formControlName="departure_year">
      <span class="input-group-text" id="inputGroup-sizing-default">/</span>
      <input type="number" class="form-control" formControlName="departure_hour" min="0" max="23"
      oninput="if(this.value > this.max) this.value = 23; if(this.value < this.min) this.value = 0;">
      <span class="input-group-text" id="inputGroup-sizing-default">:</span>
      <input type="number" class="form-control" formControlName="departure_minute" min="0" max="59"
      oninput="if(this.value > this.max) this.value = 59; if(this.value < this.min) this.value = 0;">
    </div>

    <div class="input-group mb-2">
      <span class="input-group-text" id="inputGroup-sizing-default" style="width: 30%;" required>Llegada</span>
      <input type="number" class="form-control" formControlName="arrival_day" min="1" max="31"
        oninput="if(this.value > this.max) this.value = 31; if(this.value < this.min) this.value = 1;">
      <span class="input-group-text" id="inputGroup-sizing-default">-</span>
      <input type="number" class="form-control" formControlName="arrival_month" min="1" max="12"
      oninput="if(this.value > this.max) this.value = 12; if(this.value < this.min) this.value = 1;">
      <span class="input-group-text" id="inputGroup-sizing-default">-</span>
      <input type="number" class="form-control" formControlName="arrival_year">
      <span class="input-group-text" id="inputGroup-sizing-default">/</span>
      <input type="number" class="form-control" formControlName="arrival_hour" min="0" max="23"
      oninput="if(this.value > this.max) this.value = 23; if(this.value < this.min) this.value = 0;">
      <span class="input-group-text" id="inputGroup-sizing-default">:</span>
      <input type="number" class="form-control" formControlName="arrival_minute" min="0" max="59"
      oninput="if(this.value > this.max) this.value = 59; if(this.value < this.min) this.value = 0;">
    </div>

    <div class="input-group mb-2">
      <span class="input-group-text" id="inputGroup-sizing-default" style="width: 30%;" required>Compañia</span>
      <input type="text" class="form-control" formControlName="company">
    </div>

    <div class="input-group mb-2">
      <span class="input-group-text" style="width: 30%;">Detalles</span>
      <textarea class="form-control" formControlName="detail"></textarea>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-end m-2">
      <div>
        <button [disabled]="form.invalid" class="btn btn-info text-light mt-2" type="submit">{{action}}</button>
      </div>
    </div>
  </form>
</div>