<div class="center">
  <div class="text-center my-5">
    <div>
      <div class="spinner-grow spinner-grow-sm text-primary m-2" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-grow spinner-grow-sm text-success m-2" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-grow spinner-grow-sm text-danger m-2" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <h4>Cargando...</h4>
  </div>
</div>


