<div *ngIf="added" class="d-md-flex justify-content-between mb-2">
  <p><span>Hotel {{index+1}}: {{hotel.name}}</span><span *ngIf="hotel.regime"> | Regimen: {{hotel.regime}}</span> |
    Noches: {{hotel.nights}}</p>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <div class="p-2 bg-warning text-center rounded-circle" style="width: 2.5rem;" (click)="edit()">
      <i class="bi bi-pencil-fill" style="color: white;"></i>
    </div>
    <div class="p-2 bg-danger text-center rounded-circle" style="width: 2.5rem;" (click)="deleteHotel(hotel.id!)">
      <i class="bi bi-trash3-fill" style="color: white;"></i>
    </div>
  </div>
</div>

<div *ngIf="!added">
  <div class="text-center fw-bold fs-5">
    {{ action }} Alojamiento
  </div>
  <form [formGroup]="form" (ngSubmit)="accept()" *ngIf="!loading">

    <div class="input-group mb-2">
      <span class="input-group-text" id="inputGroup-sizing-default" style="width: 30%;" required>Nombre</span>
      <input type="text" class="form-control" formControlName="name">
    </div>
    <p *ngIf="this.form.get('name')?.errors?.['required'] && form.get('name')?.touched"
      class="text-danger fw-semibold ms-2" style="font-size: 12px;">
      Debe ingresar un nombre
    </p>

    <div class="input-group mb-2">
      <span class="input-group-text" id="inputGroup-sizing-default" style="width: 30%;" required>Regimen</span>
      <input type="text" class="form-control" formControlName="regime">
    </div>

    <div class="input-group mb-2">
      <span class="input-group-text" id="inputGroup-sizing-default" style="width: 30%;">Noches</span>
      <input type="number" class="form-control" formControlName="nights">
    </div>
    <p *ngIf="this.form.get('nights')?.errors?.['required'] && form.get('nights')?.touched"
      class="text-danger fw-semibold ms-2" style="font-size: 12px;">
      Debe ingresar las noches
    </p>

    <div class="input-group mb-2">
      <span class="input-group-text" style="width: 30%;">Detalle</span>
      <textarea class="form-control" formControlName="detail"></textarea>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-end m-2">
      <div>
        <button [disabled]="form.invalid" class="btn btn-info mt-2" type="submit">{{action}}</button>
        <button class="btn btn-secondary mt-2 ms-2" type="button" (click)="close()">Cerrar</button>
      </div>
    </div>
  </form>
</div>