<div class="card m-3" *ngIf="router.url != '/dashboard'">
  <div class="d-grid gap-2 d-md-flex justify-content-between m-2 mx-3">
    <div ngxTippy data-tippy-content="Volver atras" routerLink="/dashboard">
      <i class="bi bi-arrow-left-circle-fill" style="color: #6f42c1; font-size: 2.25rem;"></i>
    </div>
    <div>
      <button class="btn btn-success me-md-2 mt-2" type="button" routerLink="form">Nuevo Presupuesto</button>
    </div>
  </div>
</div>

<div class="card m-3">
  <div class="card-body">
    <h5 class="card-title ">Listado de Presupuestos</h5>

    <table class="table" *ngIf="!loading">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Pedido</th>
          <th scope="col">Items</th>
          <th scope="col">Detalle</th>
          <th scope="col">Valor</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let c of budgets; index as i;">
          <td class="align-middle">{{c.order?.name}}</td>
          <td class="align-middle">
            <div *ngIf="c.order">
              <p>
                {{c.order.destination}} - {{c.order.date}}
              </p>
              <p>
                {{c.order.nights}}nts -
                {{c.order.toddler + c.order.child + c.order.adult + c.order.teen + c.order.senior}}pax
              </p>
            </div>
          </td>
          <td class="align-middle">
            <p *ngIf="c.flights && c.flights.length > 0">
              Aereos:
              <span *ngFor="let i of c.flights">
                <span *ngIf="i.soft_delete === false">{{i.origin}}/{{i.destination}} - </span>
              </span>
            </p>
            <p *ngIf="c.hotels && c.hotels.length > 0">
              Hoteles:
              <span *ngFor="let i of c.hotels">
                <!-- <span *ngIf="i.soft_delete === false">{{i.name}} |  |</span> -->
                {{i.name}} |
              </span>
            </p>
            <p *ngIf="c.transfers && c.transfers.length > 0">
              Traslados:
              <span *ngFor="let i of c.transfers">
                <span *ngIf="i.soft_delete === false">{{i.origin}}/{{i.destination}} - </span>
              </span>
            </p>
            <p *ngIf="c.assistance && c.assistance.length > 0">
              Asistencias:
              <span *ngFor="let i of c.assistance">
                <span *ngIf="i.soft_delete === false">{{i.name}} - </span>
              </span>
            </p>
            <p *ngIf="c.excursions && c.excursions.length > 0">
              Excursiones:
              <span *ngFor="let i of c.excursions">
                <span *ngIf="i.soft_delete === false">{{i.name}} - </span>
              </span>
            </p>
            <!-- <p>Enlatados: <span *ngFor="let i of c.canneds">
                {{i.name}} | </span></p> -->
          </td>
          <td class="align-middle">
            <p>{{c.detail}}</p>
          </td>
          <td class="align-middle">
            <p>
              {{c.total? "$ "+c.total : "El presupuesto no esta finalizado"}}
            </p>
          </td>
          <td class="align-middle">
            <div class="p-2 bg-warning text-center rounded-circle" style="width: 2.5rem;" ngxTippy
              data-tippy-content="Editar" (click)="editBudget(c.id!, c.orderId!)">
              <i class="bi bi-pencil-fill" style="color: white;"></i>
            </div>
            <div class="p-2 bg-danger text-center rounded-circle mt-2" style="width: 2.5rem;" ngxTippy
              data-tippy-content="Eliminar" (click)="deleteBudget(c.id!)">
              <i class="bi bi-trash3-fill" style="color: white;"></i>
            </div>

          </td>
        </tr>
      </tbody>
    </table>
    <app-spinner *ngIf="loading"></app-spinner>
  </div>
</div>