<div class="row mt-3">
  <div class="col-lg-3 offset-lg-3">
    <div class="card mb-3" style="min-width: 40rem;">
      <div class="card-header text-center fw-bold fs-5">{{ action }} Asistencia</div>
      <div class="card-body">
        <app-spinner *ngIf="loading"></app-spinner>
        <form [formGroup]="form" (ngSubmit)="accept()" *ngIf="!loading">

          <div class="input-group mb-2">
            <span class="input-group-text" id="inputGroup-sizing-default" style="width: 30%;" required>Nombre</span>
            <input type="text" class="form-control" formControlName="name">
          </div>
          <p *ngIf="this.form.get('name')?.errors?.['required'] && form.get('name')?.touched"
            class="text-danger fw-semibold ms-2" style="font-size: 12px;">
            Debe ingresar un nombre
          </p>

          <div class="input-group mb-2">
            <span class="input-group-text" id="inputGroup-sizing-default" style="width: 30%;" required>Tipo</span>
            <input type="text" class="form-control" formControlName="type">
          </div>

          <div class="input-group mb-2">
            <span class="input-group-text" id="inputGroup-sizing-default" style="width: 30%;">Precio</span>
            <span class="input-group-text">$</span>
            <input type="number" class="form-control" formControlName="value">
            <span class="input-group-text">.00</span>
          </div>
          <p *ngIf="this.form.get('value')?.errors?.['required'] && form.get('value')?.touched"
            class="text-danger fw-semibold ms-2" style="font-size: 12px;">
            Debe ingresar el precio
          </p>

          <div class="input-group mb-2">
            <span class="input-group-text" id="inputGroup-sizing-default" style="width: 30%;">Impuestos</span>
            <span class="input-group-text">$</span>
            <input type="number" class="form-control" formControlName="tax">
            <span class="input-group-text">.00</span>
          </div>

          <div class="input-group mb-2">
            <span class="input-group-text" style="width: 30%;">Detalle</span>
            <textarea class="form-control" formControlName="detail"></textarea>
          </div>

          <div class="input-group mb-2">
            <span class="input-group-text" style="width: 30%; height: 100%;">Proveedores</span>
            <select class="form-select mb-2" formControlName="supplierId">
              <option *ngFor="let c of suppliers ; index as i;" value="{{c.id}}">{{c.name}}</option>
            </select>
          </div>
          <p *ngIf="this.form.get('supplierId')?.errors?.['required'] && form.get('supplierId')?.touched"
            class="text-danger fw-semibold ms-2" style="font-size: 12px;">
            Debe seleccionar el proveedor
          </p>

          <div class="d-grid gap-2 d-md-flex justify-content-end m-2">
            <div>
              <button [disabled]="form.invalid" class="btn btn-success mt-2" type="submit">Aceptar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div *ngIf="show && !loading">
  <app-assistances (newAssistanceEvent)="editAssistance($event)"></app-assistances>
</div>