<div class="login">
  <div class="card text-center mb-3 form-login shadow-lg">
    <div class="card-body">
      <h5 class="card-title mb-3">Iniciar Sesión</h5>
      <div class="mb-3">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" placeholder="name@example.com">
          <label>Email</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" placeholder="Password">
          <label>Contraseña</label>
        </div>
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">INGRESAR</button>
      </div>
    </div>
  </div>
</div>
