.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
}

.form-login {
  max-width: 300px;
  width: 100%;
}

.gradient {
  background: rgb(188, 30, 40);
  background: -moz-linear-gradient(
    0deg,
    rgba(188, 30, 40, 1) 0%,
    rgba(33, 64, 154, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(188, 30, 40, 1) 0%,
    rgba(33, 64, 154, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(188, 30, 40, 1) 0%,
    rgba(33, 64, 154, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bc1e28",endColorstr="#21409a",GradientType=1);
}
