<div class="login" *ngIf="!loading">
  <div class="card text-center mb-3 form-login shadow-lg">
    <form class="card-body" [formGroup]="form" (ngSubmit)="login()">
      <div class="mb-3 shadow-lg rounded gradient">
        <i class="bi bi-person-circle" style="font-size: 7rem; color: white;"></i>
      </div>
      <h5 class="card-title mb-3 fw-bold">MELCEJ Viajes</h5>
      <div class="mb-3">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" placeholder="name@example.com" formControlName="email" name="email"
            required>
          <label>Email</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" placeholder="Password" formControlName="password" name="password"
            required>
          <label>Contraseña</label>
        </div>
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit">INGRESAR</button>
      </div>
    </form>
  </div>
</div>
<app-spinner *ngIf="loading"></app-spinner>
