<div class="card m-3">
  <div class="d-grid gap-2 d-md-flex justify-content-between m-2 mx-3">
    <div ngxTippy data-tippy-content="Volver atras" routerLink="/dashboard">
      <i class="bi bi-arrow-left-circle-fill" style="color: #6f42c1; font-size: 2.25rem;"></i>
    </div>
    <div>
      <button class="btn btn-success me-md-2 mt-2" type="button" routerLink="form">Nuevo Proveedor</button>
    </div>
  </div>
</div>

<div class="card m-3">
  <div class="card-body">
    <h5 class="card-title">Listado de Proveedores</h5>

    <table class="table" *ngIf="!loading">
      <thead>
        <tr>
          <th scope="col">Proveedor</th>
          <th scope="col">Email</th>
          <th scope="col">Télefono</th>
          <th scope="col">CBU</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let c of suppliers; index as i;">
          <td class="align-middle fw-semibold">{{c.name}}</td>
          <td class="align-middle">{{c.email}}</td>
          <td class="align-middle">{{c.phone}}</td>
          <td class="align-middle">{{c.cbu}}</td>
          <td class="d-grid gap-2 d-md-flex justify-content-md-end">
            <div class="p-2 bg-warning text-center rounded-circle" style="width: 2.5rem;" ngxTippy
              data-tippy-content="Editar" routerLink="form/{{c.id}}">
              <i class="bi bi-pencil-fill" style="color: white;"></i>
            </div>
            <div class="p-2 bg-danger text-center rounded-circle" style="width: 2.5rem;" ngxTippy
              data-tippy-content="Eliminar" (click)="deleteSupplier(c.id!)">
              <i class="bi bi-trash3-fill" style="color: white;"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <app-spinner *ngIf="loading"></app-spinner>
  </div>
</div>
