<div *ngIf="loadingI || loadingO">
    <app-spinner></app-spinner>
</div>
<div class="row m-3" *ngIf="!loadingI && !loadingO">
    <div class="col p-2">
        <div class="card ars">
            <div class="card-body">
                <h5 class="card-title">Cuenta corriente en ARS</h5>
                <h6 *ngIf="(totalIncomeARS + totalOutcomeARS) > 0">
                    Total disponible en ARS {{totalIncomeARS + totalOutcomeARS}}$
                </h6>
                <h6 *ngIf="(totalIncomeARS + totalOutcomeARS) < 0">
                    Total adeudado en ARS <span class="text-danger">{{totalIncomeARS + totalOutcomeARS}}</span>$
                </h6>
            </div>
        </div>
    </div>
    <div class="col p-2">
        <div class="card scroll">
            <div class="card-header sticky-top ars">
                <h5 class="card-title">Ingresos ARS</h5>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Total</th>
                            <th scope="col">Fecha</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr *ngFor="let c of incomeARS; index as i;">
                            <td class="align-middle fw-semibold text-success">${{c.total}}</td>
                            <td class="align-middle text-success">
                                {{c.date.substring(0,10).split("-").reverse().join("-")}}</td>
                            <td class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <div class="p-2 bg-warning text-center rounded-circle" style="width: 2.5rem;" ngxTippy
                                    data-tippy-content="Editar" routerLink="formIncome/{{c.id}}">
                                    <i class="bi bi-pencil-fill" style="color: white;"></i>
                                </div>
                                <!-- <div class="p-2 bg-danger text-center rounded-circle" style="width: 2.5rem;" ngxTippy
                                    data-tippy-content="Eliminar" (click)="deleteIncome(c.id!)">
                                    <i class="bi bi-trash3-fill" style="color: white;"></i>
                                </div> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col p-2 " >
        <div class="card scroll">
            <div class="card-header sticky-top ars">
                <h5 class="card-title">Egresos ARS</h5>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Total</th>
                            <th scope="col">Fecha</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr *ngFor="let c of outcomeARS; index as i;">
                            <td class="align-middle fw-semibold text-danger">${{c.total.toFixed(2)}}</td>
                            <td class="align-middle text-danger">
                                {{c.date.substring(0,10).split("-").reverse().join("-")}}</td>
                            <td class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <div class="p-2 bg-warning text-center rounded-circle" style="width: 2.5rem;" ngxTippy
                                    data-tippy-content="Editar" routerLink="formOutcome/{{c.id}}">
                                    <i class="bi bi-pencil-fill" style="color: white;"></i>
                                </div>
                                <!-- <div class="p-2 bg-danger text-center rounded-circle" style="width: 2.5rem;" ngxTippy
                                    data-tippy-content="Eliminar" (click)="deleteOutcome(c.id!)">
                                    <i class="bi bi-trash3-fill" style="color: white;"></i>
                                </div> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row m-3" *ngIf="!loadingI && !loadingO">
    <div class="col p-2">
        <div class="card usd">
            <div class="card-body">
                <h5 class="card-title">Cuenta corriente en USD</h5>
                <h6 *ngIf="(totalIncomeUSD + totalOutcomeUSD) > 0">
                    Total disponible en USD {{totalIncomeUSD + totalOutcomeUSD}}$
                </h6>
                <h6 *ngIf="(totalIncomeUSD + totalOutcomeUSD) < 0">
                    Total adeudado en USD <span class="text-danger">{{totalIncomeUSD + totalOutcomeUSD}}</span>$

                </h6>
            </div>
        </div>
    </div>
    <div class="col p-2">
        <div class="card scroll">
            <div class="card-header sticky-top usd">
                <h5 class="card-title">Ingresos USD</h5>
            </div>
            <div class="card-body">                
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Total</th>
                            <th scope="col">Fecha</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr *ngFor="let c of incomeUSD; index as i;">
                            <td class="align-middle fw-semibold text-success">${{c.total_usd}}</td>
                            <td class="align-middle text-success">
                                {{c.date.substring(0,10).split("-").reverse().join("-")}}</td>
                            <td class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <div class="p-2 bg-warning text-center rounded-circle" style="width: 2.5rem;" ngxTippy
                                    data-tippy-content="Editar" routerLink="formIncome/{{c.id}}">
                                    <i class="bi bi-pencil-fill" style="color: white;"></i>
                                </div>
                                <!-- <div class="p-2 bg-danger text-center rounded-circle" style="width: 2.5rem;" ngxTippy
                                    data-tippy-content="Eliminar" (click)="deleteIncome(c.id!)">
                                    <i class="bi bi-trash3-fill" style="color: white;"></i>
                                </div> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col p-2">
        <div class="card scroll">
            <div class="card-header sticky-top usd">
                <h5 class="card-title">Egresos USD</h5>
            </div>
            <div class="card-body">                
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Total</th>
                            <th scope="col">Fecha</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr *ngFor="let c of outcomeUSD; index as i;">
                            <td class="align-middle fw-semibold text-danger">${{c.total_usd}}</td>
                            <td class="align-middle text-danger">
                                {{c.date.substring(0,10).split("-").reverse().join("-")}}</td>
                            <td class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <div class="p-2 bg-warning text-center rounded-circle" style="width: 2.5rem;" ngxTippy
                                    data-tippy-content="Editar" routerLink="formOutcome/{{c.id}}">
                                    <i class="bi bi-pencil-fill" style="color: white;"></i>
                                </div>
                                <!-- <div class="p-2 bg-danger text-center rounded-circle" style="width: 2.5rem;" ngxTippy
                                    data-tippy-content="Eliminar" (click)="deleteOutcome(c.id!)">
                                    <i class="bi bi-trash3-fill" style="color: white;"></i>
                                </div> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>